<!DOCTYPE html>
<html xmlns:th="https://thynmeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHAINES Savings</title>
  <link rel="stylesheet" type="text/css" href="styles/MenuStyle.css">
</head>

<body>
  <header class="header">
  <nav class="nav-items">
      <a href="/menu">Home</a>
      <a href="/savings">Savings</a>
      <a href="/checkings">Checkings</a>
    </nav>
  </header>
  <main>
    <div class="intro">
    <a href="https://lh3.googleusercontent.com/9L9rXFcOARNp2Fzqdo_nAa5hUx2LC4Y7kjW4sESm2z2w2QCcow1ojC9uo715lvd8_cCYv1SLONaGL18amviep68uDdq-1lf3_tg4DG4SghuzsdOXIQLDFCuZ0pFs2GO5qTEN8rrk=s300-p-k?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/9L9rXFcOARNp2Fzqdo_nAa5hUx2LC4Y7kjW4sESm2z2w2QCcow1ojC9uo715lvd8_cCYv1SLONaGL18amviep68uDdq-1lf3_tg4DG4SghuzsdOXIQLDFCuZ0pFs2GO5qTEN8rrk=s300-p-k" /> </a>    
      <h1> Your Checkings Account</h1>
      <a href="/menu">
      <button>Back to Home</button>
      </a>
    </div>
    
    <div class="achievements">
    	<div class="work">
    		<i class="fas fa-atom"></i>
       		<h1 class="work-heading">Account Details</h1>
       		
       		<p class="work-heading" th:text="'Account Number: '+${checkingsAccount.accountNumber}"></p>      
       		<p class="work-heading" th:text="'Sort Code: '+${checkingsAccount.sortCode}"></p>      
       		<p class="work-heading" th:text="'Balance: £'+${checkingsAccount.balance}"></p> 
       		<p class="work-heading" th:text="'Card Number: '+${checkingsAccount.cardNumber}"></p>  
        </div>
    </div>
        
    <div class="achievements">
    	<div class="work">
        <div class="intro2">
        <a href="/transfer">
        <button>Transfer Balance</button>
        </a>
        </div>  
        </div>  
        <div class="work">            
        <div class="intro2">
        	<button>View Recent Transactions</button>
        </div>  
        </div> 
    </div>
    
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Commonly Used For:</p>
        <ul>
        <li>Everyday Bank Account</li>
        <li>Easy Access to your Money, where ever are</li>
        </ul>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Key Info</p>
        <ul>
        <li>Instant Access</li>
        <li>5 Star Rated Account</li>
        <li>Free of Monthly Fees</li>
        <li>Quick to Set up, Easy to Use</li>
        </ul>        
      </div>
      <div class="work">
      <img src="https://www.natwest.com/content/dam/natwestinternational_com/assets/images/illustrations-personal/image.dim.270.nwi-pers-ill-gold-flying-pig-trans.png" alt="Image">      
      </div>
    </div>
    
    <div class="about-me">
      <div class="about-me-text">
    	<h2>Your Checking Account</h2>
    	<p>Your apart of the 0 CHAINES customers (as Feb 2023) who bank with us every month!
    	</p><br><br>
    	<h2>Transaction History</h2>
    	
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="copy">© CHAINES</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="/menu">Home</a>
        <a href="/savings">Savings</a>
        <a href="/checkings">Checkings</a>
      </div>
    </div>
  </footer>
</body>

</html>